{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".ls",
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          "node_modules",
          ".*",
          "bower_components",
          "prepros.config",
          "Prepros Export",
          "prepros-6.config",
          "prepros.cfg",
          "wp-admin",
          "wp-includes"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "config.rb",
          "prepros.config",
          "prepros-6.config",
          "node_modules",
          "Prepros Export",
          ".git",
          ".idea",
          ".sass-cache",
          ".hg",
          ".svn",
          ".cache",
          ".DS_Store",
          "*.sass",
          "*.scss",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.ls",
          "*.kit",
          "*.ts",
          "/html",
          "/_css",
          "/_js",
          "/_maket",
          ".gitignore",
          "README.md",
          "_css",
          "_js"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/abramova.mastervision.su/facultatives",
      "timeout": 20000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": ".htaccess",
          "mtimeMs": 1566061504493.6138,
          "ctimeMs": 1566061504493.6138,
          "date": "2020-01-20T08:16:38.650Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1579689128461.1555,
          "ctimeMs": 1579689128461.1555,
          "date": "2020-01-22T10:44:44.631Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "ctimeMs": 1576329509903.4392,
          "date": "2020-01-20T08:16:38.980Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "ctimeMs": 1576329509905.4392,
          "date": "2020-01-20T08:16:39.312Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1573229933925.9905,
          "ctimeMs": 1573229933925.9905,
          "date": "2020-01-20T08:16:46.235Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1581609770120.602,
          "ctimeMs": 1581609770120.602,
          "date": "2020-02-13T16:02:58.112Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1579627051609.1797,
          "ctimeMs": 1579627051609.1797,
          "date": "2020-01-22T10:44:45.228Z"
        },
        {
          "file": "img/certs/cert_1.jpg",
          "mtimeMs": 1533610096000,
          "ctimeMs": 1564133806124.2986,
          "date": "2020-01-20T08:16:48.181Z"
        },
        {
          "file": "img/certs/cert_1_min.jpg",
          "mtimeMs": 1533610096000,
          "ctimeMs": 1564133638007.2888,
          "date": "2020-01-20T08:16:48.613Z"
        },
        {
          "file": "img/certs/cert_2.jpg",
          "mtimeMs": 1533610098000,
          "ctimeMs": 1564133655018.4937,
          "date": "2020-01-20T08:16:49.073Z"
        },
        {
          "file": "img/certs/cert_2_min.jpg",
          "mtimeMs": 1541421581508.973,
          "ctimeMs": 1564133657821.525,
          "date": "2020-01-20T08:16:49.501Z"
        },
        {
          "file": "img/revs/text_0.jpg",
          "mtimeMs": 1570035585829.4307,
          "ctimeMs": 1570035585829.4307,
          "date": "2020-01-20T08:16:53.741Z"
        },
        {
          "file": "img/revs/text_1.jpg",
          "mtimeMs": 1533618220000,
          "ctimeMs": 1533629094913.7417,
          "date": "2020-01-20T08:16:54.212Z"
        },
        {
          "file": "img/revs/text_11.jpg",
          "mtimeMs": 1533618232000,
          "ctimeMs": 1533629094949.7659,
          "date": "2020-01-20T08:16:54.728Z"
        },
        {
          "file": "img/revs/text_12.jpg",
          "mtimeMs": 1533618234000,
          "ctimeMs": 1533629094953.769,
          "date": "2020-01-20T08:16:55.278Z"
        },
        {
          "file": "img/revs/text_13.jpg",
          "mtimeMs": 1533618236000,
          "ctimeMs": 1533629094956.7705,
          "date": "2020-01-20T08:16:55.793Z"
        },
        {
          "file": "img/revs/text_14.jpg",
          "mtimeMs": 1541421822062.482,
          "ctimeMs": 1541503398514.9111,
          "date": "2020-01-20T08:16:56.216Z"
        },
        {
          "file": "img/revs/text_15.jpg",
          "mtimeMs": 1533618238000,
          "ctimeMs": 1533629094963.775,
          "date": "2020-01-20T08:16:56.621Z"
        },
        {
          "file": "img/revs/text_17.jpg",
          "mtimeMs": 1570035591436.1538,
          "ctimeMs": 1570035591436.1538,
          "date": "2020-01-20T08:16:57.113Z"
        },
        {
          "file": "img/revs/text_2.jpg",
          "mtimeMs": 1533618222000,
          "ctimeMs": 1533629094916.744,
          "date": "2020-01-20T08:16:57.584Z"
        },
        {
          "file": "img/revs/text_3.jpg",
          "mtimeMs": 1533618224000,
          "ctimeMs": 1533629094919.7456,
          "date": "2020-01-20T08:16:58.062Z"
        },
        {
          "file": "img/revs/text_5.jpg",
          "mtimeMs": 1533618226000,
          "ctimeMs": 1533629094926.7505,
          "date": "2020-01-20T08:16:58.652Z"
        },
        {
          "file": "img/revs/text_7.jpg",
          "mtimeMs": 1533618228000,
          "ctimeMs": 1533629094936.7576,
          "date": "2020-01-20T08:16:59.180Z"
        },
        {
          "file": "img/revs/video_1.jpg",
          "mtimeMs": 1562062104474.5044,
          "ctimeMs": 1562062104535.546,
          "date": "2020-01-20T08:16:59.607Z"
        },
        {
          "file": "img/revs/video_2.jpg",
          "mtimeMs": 1562062109973.353,
          "ctimeMs": 1562062109973.353,
          "date": "2020-01-20T08:17:00.035Z"
        },
        {
          "file": "img/revs/video_3.jpg",
          "mtimeMs": 1562062121347.5464,
          "ctimeMs": 1562062121347.5464,
          "date": "2020-01-20T08:17:00.504Z"
        },
        {
          "file": "img/revs/video_4.jpg",
          "mtimeMs": 1562062126333.4395,
          "ctimeMs": 1562062126333.4395,
          "date": "2020-01-20T08:17:00.918Z"
        },
        {
          "file": "img/revs/video_5.jpg",
          "mtimeMs": 1562062131899.6328,
          "ctimeMs": 1562062131899.6328,
          "date": "2020-01-20T08:17:01.334Z"
        },
        {
          "file": "img/revs/video_6.jpg",
          "mtimeMs": 1562062138239.4792,
          "ctimeMs": 1562062138261.4934,
          "date": "2020-01-20T08:17:01.793Z"
        },
        {
          "file": "fonts/Philosopher.eot",
          "mtimeMs": 1567688726000,
          "ctimeMs": 1567706735370.2446,
          "date": "2020-01-20T08:16:40.939Z"
        },
        {
          "file": "fonts/Philosopher.svg",
          "mtimeMs": 1567688726000,
          "ctimeMs": 1567706735288.9763,
          "date": "2020-01-20T08:16:41.488Z"
        },
        {
          "file": "fonts/Philosopher.ttf",
          "mtimeMs": 1567688726000,
          "ctimeMs": 1567706735277.9685,
          "date": "2020-01-20T08:16:41.938Z"
        },
        {
          "file": "fonts/Philosopher.woff",
          "mtimeMs": 1567688726000,
          "ctimeMs": 1567706735346.188,
          "date": "2020-01-20T08:16:42.389Z"
        },
        {
          "file": "fonts/Philosopher.woff2",
          "mtimeMs": 1567688726000,
          "ctimeMs": 1567706735378.2495,
          "date": "2020-01-20T08:16:43.016Z"
        },
        {
          "file": "fonts/RussoOne.eot",
          "mtimeMs": 1567562714000,
          "ctimeMs": 1567580772552.5771,
          "date": "2020-01-20T08:16:43.618Z"
        },
        {
          "file": "fonts/RussoOne.svg",
          "mtimeMs": 1567562714000,
          "ctimeMs": 1567580772527.5603,
          "date": "2020-01-20T08:16:44.253Z"
        },
        {
          "file": "fonts/RussoOne.ttf",
          "mtimeMs": 1567562714000,
          "ctimeMs": 1567580772514.5527,
          "date": "2020-01-20T08:16:44.886Z"
        },
        {
          "file": "fonts/RussoOne.woff",
          "mtimeMs": 1567562714000,
          "ctimeMs": 1567580772542.5703,
          "date": "2020-01-20T08:16:45.379Z"
        },
        {
          "file": "fonts/RussoOne.woff2",
          "mtimeMs": 1567562714000,
          "ctimeMs": 1567580772561.583,
          "date": "2020-01-20T08:16:45.829Z"
        },
        {
          "file": "img/backgrounds/facs-bg.png",
          "mtimeMs": 1572081103240.6091,
          "ctimeMs": 1572081103574.2246,
          "date": "2020-01-20T08:16:47.019Z"
        },
        {
          "file": "img/backgrounds/main-bg.png",
          "mtimeMs": 1572081108481.5034,
          "ctimeMs": 1572081108508.521,
          "date": "2020-01-20T08:16:47.638Z"
        },
        {
          "file": "img/icons/envelope.png",
          "mtimeMs": 1572081066624.2654,
          "ctimeMs": 1572081066649.5056,
          "date": "2020-01-20T08:16:49.848Z"
        },
        {
          "file": "img/icons/main-img.png",
          "mtimeMs": 1572081071728.9548,
          "ctimeMs": 1572081071728.9548,
          "date": "2020-01-20T08:16:50.201Z"
        },
        {
          "file": "img/icons/phone.png",
          "mtimeMs": 1572081077363.6074,
          "ctimeMs": 1572081077386.655,
          "date": "2020-01-20T08:16:50.560Z"
        },
        {
          "file": "img/icons/skype.png",
          "mtimeMs": 1572081082041.149,
          "ctimeMs": 1572081082065.185,
          "date": "2020-01-20T08:16:51.018Z"
        },
        {
          "file": "img/images/fac-1-img.png",
          "mtimeMs": 1572081033565.7883,
          "ctimeMs": 1572090436252.5127,
          "date": "2020-01-20T08:16:51.493Z"
        },
        {
          "file": "img/images/fac-2-img.png",
          "mtimeMs": 1572081038320.8723,
          "ctimeMs": 1572090440134.2227,
          "date": "2020-01-20T08:16:51.976Z"
        },
        {
          "file": "img/images/fac-3-img.png",
          "mtimeMs": 1572081042876.7395,
          "ctimeMs": 1572090443594.9397,
          "date": "2020-01-20T08:16:52.450Z"
        },
        {
          "file": "img/images/fac-4-img.png",
          "mtimeMs": 1572081047446.7932,
          "ctimeMs": 1572090446341.6562,
          "date": "2020-01-20T08:16:52.869Z"
        },
        {
          "file": "img/images/janna.png",
          "mtimeMs": 1572081052508.5532,
          "ctimeMs": 1572081052527.621,
          "date": "2020-01-20T08:16:53.279Z"
        },
        {
          "file": "css/ie.min.css",
          "mtimeMs": 1572097217447.6997,
          "ctimeMs": 1572097217447.6997,
          "date": "2020-01-20T08:16:39.659Z"
        },
        {
          "file": "oferta/oferta.docx",
          "mtimeMs": 1578295151294.7227,
          "ctimeMs": 1578295157489.4214,
          "date": "2020-01-20T08:17:02.948Z"
        },
        {
          "file": "distributive/index.php",
          "mtimeMs": 1579508180813.009,
          "ctimeMs": 1579508180813.009,
          "date": "2020-01-20T08:16:40.488Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 35 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "js/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js/scripts.min.js",
          "tasks": {
            "concat-js": {
              "enable": true
            }
          }
        }
      }
    ]
  }
}
