section#main
	.main-title-container
		.container
			h1.main-title= head_title
			#psy
				span
			h2.main-subtitle= head_description
	.container
		+button('button-main','#facultatives','Записаться','_self')