section#for
	.container
		+gt('','Для кого нужны данные факультативы:')
		ul.general-list.general-list-for
			li Для тех , кто изучает системную терапию 
			li Для тех, кто хотел бы получить дополнительные знания и навыки в области системных расстановок 
			li Для тех, кто хотел бы начать свою практику в области системных расстановок
		+button('button-for','#facultatives','Записаться','_self')