.facultative.facultative-2
	.container
		+gt('','Факультатив по расстановкам «Бесплодие»')
		.row
			.col-md-4.col-md-push-8
				.facultative-img.facultative-img-2
				p.facultative-cost Стоимость: 
					span 900р.
			.col-md-8.col-md-pull-4
				p.facultative-text Дата проведения вебинара - 
					span 26 ноября 2019 г.
				h5.facultative-subtitle Вебинар о бесплодии психогенном, репродуктивном и полевом
				h6.facultative-list-title Получите ответы на следующие вопросы:
				ul.general-list.facultative-list.facultative-list-2
					li В чем разница. Как работать с типами бесплодия. ЭКО. Что необходимо проработать паре в обязательном порядке перед процедурой ЭКО
					li Аборты. Как и чем отвечают живые дети за детей нерожденных. На ком лежит ответственность за аборты. «Воронки» как следствие абортов. Почему развод, ухудшение отношений, денежные сливы частые последствия после абортов. Как закрывать воронку абортируемого поля. Признания в абортируемом поле
					li Ответственность женщины за аборты
					li Ответственность мужчины за аборты. В чем разница? Как дети допроживают не взятую на себя рожителями ответственность за аборты
					li Аборты как следствие родового (полевого) бесплодия. Закрытие бесплодного поля. Дети и деньги. Какие процессы активируют рождённые и нерожденных дети
					li Выкидыши. В чем причина выкидышей и замершей беременности. Разморозка «замороженного» поля при выкидышах
				+button('button-facultative',cost_6, 'Купить в записи', '_blank')