.facultative.facultative-8
	.container
		+gt('','Факультатив «Детско-родительские переплетения. Куда "смотрит" ребенок»')
		.row
			.col-md-4.col-md-push-8
				.facultative-img.facultative-img-2
				p.facultative-cost Стоимость: 
					span 900р.
			.col-md-8.col-md-pull-4
				p.facultative-text Дата проведения вебинара - 
					span 24 марта 2020г.
				h5.facultative-subtitle
				h6.facultative-list-title Получите ответы на следующие вопросы:​
				ul.general-list.facultative-list.facultative-list-2
					li Выбор ребенка следовать «за матерью». Почему дети делают выбор в пользу поддержки судьбы родителей, а не своей собственной
					li Полевая диагностика судьбы ребенка. Куда (за кем) следует ребенок при выборе судьбы
					li Женская лояльность, или почему в нашем роду все женщины повторяли судьбу. Выход из родового переплетения
					li Материнское бессилие и детская сила. Родительская обида и детская вина
					li Мама, я последую за тобой, или мама, я доделаю за тебя то, с чем ты не справилась – одиночество, бездетность, несчастливая женская судьба
					li Мама, я спасу тебя – стану для тебя мужем, мамой и отцом. Как дети под воздействием безусловной любви занимают в системе не свои места
					li Переплетение детско-родительских судеб, как принцип лояльности (принадлежности) к роду.
					li Демонстрационная сессия с участником факультатива по запросу
				+button('button-facultative',cost_15, 'Выбрать', '_blank')