.facultative.facultative-3
	.container
		+gt('','Факультатив по расстановкам «Создание пары»')
		.row
			.col-md-4
				.facultative-img.facultative-img-3
				p.facultative-cost Стоимость: 
					span 900р.
			.col-md-8
				p.facultative-text Дата проведения вебинара - 
					span 29 октября 2019 г.
				h6.facultative-list-title Получите ответы на следующие вопросы:
				ul.general-list.facultative-list
					li Создание пары, как этап семейного системного развития: вышла замуж, потому что «надо»
					li Женился, потому что мама/девушка настояла
					li Семья «по залету». Семья по принуждению
					li Семья по родовому сценарию
					li Семья по судьбе
					li Каким динамикам следует пара в каждом случае
					li Системные законы в парности и одиночестве
					li Почему кто-то проходит путь одиночества, а кто-то цепляется за отношения
					li Страх одиночества
					li Созависимость в паре
					li Любовь. Что такое на самом деле любовь?
					li Почему любовь проходит?
					li Как в поле выглядит истинная любовь и как ее отличить от «союза травм» (сошлись родовыми травмами)
					li Как понять, что партнёр по судьбе, а не для отработки родовых травм
					li Какие отношения изначально обречены на конфликты и расставание (принцип парного невроза)
				+button('button-facultative',cost_3, 'Купить в записи', '_blank')