#facultatives-costs
	.container
		+gt('','Выберите факультатив для себя')
		.facultatives-table
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Факультатив 
						span "Чтение расстановочного поля"
					p.more-button(data-toggle="modal" data-target="#fac-13") Подробнее...
				.facultatives-table-col
					p.facultatives-table-cost Стоимость:
						span 900р.
					+button('button-cost',cost_13,'Выбрать', '_blank')
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Факультатив 
						span "Сила фамилии твоей"
					p.more-button(data-toggle="modal" data-target="#fac-14") Подробнее...
				.facultatives-table-col
					p.facultatives-table-cost Стоимость:
						span 900р.
					+button('button-cost',cost_14,'Выбрать', '_blank')
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Факультатив 
						span "Детско-родительские переплетения. Куда «смотрит» ребенок"
					p.more-button(data-toggle="modal" data-target="#fac-15") Подробнее...
				.facultatives-table-col
					p.facultatives-table-cost Стоимость:
						span 900р.
					+button('button-cost',cost_15,'Выбрать', '_blank')
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Факультатив 
						span "Созависимость - семейная болезнь"
					p.more-button(data-toggle="modal" data-target="#fac-11") Подробнее...
				.facultatives-table-col
					p.facultatives-table-cost Стоимость:
						span 900р.
					+button('button-cost',cost_11,'Купить в записи', '_blank')
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Факультатив 
						span "Травма Души и Духа"
					p.more-button(data-toggle="modal" data-target="#fac-12") Подробнее...
				.facultatives-table-col
					p.facultatives-table-cost Стоимость:
						span 900р.
					+button('button-cost',cost_12,'Купить в записи', '_blank')
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Факультатив 
						span "Любовный треугольник"
					p.more-button(data-toggle="modal" data-target="#fac-1") Подробнее...
				.facultatives-table-col
					p.facultatives-table-cost Стоимость:
						span 900р.
					+button('button-cost',cost_1,'Купить в записи', '_blank')
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Факультатив 
						span "Развод и его влияние на детей"
					p.more-button(data-toggle="modal" data-target="#fac-2") Подробнее...
				.facultatives-table-col
					p.facultatives-table-cost Стоимость:
						span 900р.
					+button('button-cost',cost_2,'Купить в записи', '_blank')
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Факультатив 
						span "Созадние пары"
					p.more-button(data-toggle="modal" data-target="#fac-3") Подробнее...
				.facultatives-table-col
					p.facultatives-table-cost Стоимость:
						span 900р.
					+button('button-cost',cost_3,'Купить в записи', '_blank')
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Факультатив 
						span "Подростки"
					p.more-button(data-toggle="modal" data-target="#fac-4") Подробнее...
				.facultatives-table-col
					p.facultatives-table-cost Стоимость:
						span 900р.
					+button('button-cost',cost_4,'Купить в записи', '_blank')
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Факультатив 
						span "Роль отца в жизни ребенка"
					p.more-button(data-toggle="modal" data-target="#fac-5") Подробнее...
				.facultatives-table-col
					p.facultatives-table-cost Стоимость:
						span 900р.
					+button('button-cost',cost_5,'Купить в записи', '_blank')
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Факультатив 
						span "Бесплодие"
					p.more-button(data-toggle="modal" data-target="#fac-6") Подробнее...
				.facultatives-table-col
					p.facultatives-table-cost Стоимость:
						span 900р.
					+button('button-cost',cost_6,'Купить в записи', '_blank')
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Факультатив 
						span "Мужчина в кризисе"
					p.more-button(data-toggle="modal" data-target="#fac-7") Подробнее...
				.facultatives-table-col
					p.facultatives-table-cost Стоимость:
						span 900р.
					+button('button-cost',cost_7,'Купить в записи', '_blank')
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Факультатив 
						span "Уж замуж невтерпеж"
					p.more-button(data-toggle="modal" data-target="#fac-8") Подробнее...
				.facultatives-table-col
					p.facultatives-table-cost Стоимость:
						span 900р.
					+button('button-cost',cost_8,'Купить в записи', '_blank')
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Факультатив 
						span "Предназначение или зачем мне ходить на работу"
					p.more-button(data-toggle="modal" data-target="#fac-9") Подробнее...
				.facultatives-table-col
					p.facultatives-table-cost Стоимость:
						span 900р.
					+button('button-cost',cost_9,'Купить в записи', '_blank')
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Факультатив 
						span "Мое неидеальное тело"
					p.more-button(data-toggle="modal" data-target="#fac-10") Подробнее...
				.facultatives-table-col
					p.facultatives-table-cost Стоимость:
						span 900р.
					+button('button-cost',cost_10,'Купить в записи', '_blank')