.facultative.facultative-8
	.container
		+gt('','Факультатив «Сила фамилии твоей»')
		.row
			.col-md-4.col-md-push-8
				.facultative-img.facultative-img-4
				p.facultative-cost Стоимость: 
					span 900р.
			.col-md-8.col-md-pull-4
				p.facultative-text Дата проведения вебинара - 
					span 17 марта 2020г.
				h5.facultative-subtitle
				h6.facultative-list-title Получите ответы на следующие вопросы:​
				ul.general-list.facultative-list.facultative-list-2
					li Удивительно, но один из самых часто задаваемых вопросов – это вопрос смены фамилии:
						ul.facultative-innerlist
							li Необходимо ли менять фамилию при замужестве
							li Возвращать ли назад девичью фамилию при разводе
							li На чью фамилию записывать ребенка, если отец ребенка отказывается давать свою фамилию
							li Можно ли давать детям фамилию отчима
							li Чем чревато сокрытие от ребенка биологического отца
							li Чем отличаются гражданские и законные браки с точки зрения принадлежности к роду «мужа». В каком случае безопаснее не расписываться официально
							li Почему женщины, порой, отказываются брать фамилию мужа, и какие могут быть последствия от отказа вступать в род мужа
					li Имена. Как имена влияют на судьбу человека. Почему человек , порой, отрицает свое имя. В каких случаях необходима смена имени. Имена, названные "в честь"……..  Какую карму несет человек, названный в честь кого-то. Последствия имени, данного в честь ушедшего родственника,  умершего ребенка, близкого человека
					li Имя при крещении или принятии духовной конфессии. Связь со святыми и учителями
						ul.facultative-innerlist
							li Демонстрационная сессия с участником факультатива по запросу
				+button('button-facultative',cost_14, 'Выбрать', '_blank')