.facultative.facultative-5
	.container
		+gt('','Факультатив по расстановкам «Роль отца в жизни ребенка»')
		.row
			.col-md-4
				.facultative-img.facultative-img-5
				p.facultative-cost Стоимость: 
					span 900р.
			.col-md-8
				p.facultative-text Дата проведения вебинара - 
					span 19 ноября 2019 г.
				h5.facultative-subtitle Вебинар о том, какую роль играет отец в жизни ребёнка и чем чревато отсутствие у ребёнка отца
				h6.facultative-list-title Получите ответы на следующие вопросы:
				ul.general-list.facultative-list
					li Отец и дочь. 
					li Отец и сын.
					li Роль отца в сексуальном и социальном  развитии ребёнка. 
					li Отсутствие отца. Динамика при отсутствии отца в семье.
					li «Потерянный отец». Через кого и как происходит восстановление места потерянного отца.
					li Плохой отец. Травма, нанесённая отцом.
					li Физическое и эмоциональное насилие от отца. Динамика насилия. 
					li Кто отвечает за отсутствие отца в семье. Как отсутствие места отца выглядит в поле системных расстановок. 
					li Отчим. Системный порядок «отцов». 
					li Как «вернуть» отца в поле ребёнка
					li Отец и деньги. Как отсутствие отца влияет на финансовую сторону выросшего ребёнка
				+button('button-facultative',cost_5, 'Купить в записи', '_blank')