.facultative.facultative-10
	.container
		+gt('','Факультатив по метафизике «Мое неидеальное тело»')
		.row
			.col-md-4
				.facultative-img.facultative-img-2
				p.facultative-cost Стоимость: 
					span 900р.
			.col-md-8
				p.facultative-text Дата проведения вебинара - 
					span 16 января 2020 г.
				h5.facultative-subtitle 
				h6.facultative-list-title На занятии разберем следующие темы:
				ul.general-list.facultative-list
						li Лишний и недостаточный вес
						li Метафизика тела
						li Выгоды лишнего/недостаточного веса
						li Саботаж идеального тела
						li Нарушение личных границ через насилие над собой
						li Формы насилия над собой
						li Исцеление травмы, блокирующей здоровые личные границы
						li Манифестация стройности/красивого тела
				+button('button-facultative',cost_10, 'Купить в записи', '_blank')