.facultative.facultative-8
	.container
		+gt('','Факультатив по расстановкам «Предназначение или зачем мне ходить на работу»')
		.row
			.col-md-4.col-md-push-8
				.facultative-img.facultative-img-4
				p.facultative-cost Стоимость: 
					span 900р.
			.col-md-8.col-md-pull-4
				p.facultative-text Дата проведения вебинара - 
					span 28 декабря 2019 г., в 16:00 мск
				h5.facultative-subtitle
				h6.facultative-list-title Получите ответы на следующие вопросы:
				ul.general-list.facultative-list.facultative-list-2
					li Предназначение, как путь свыше. О чем говорят проблемы. Проблемы, как вектор своего пути
					li Сколько я стою. «Полевая» стоимость вашего труда. Ищем деньги через полевые процессы. Бизнес. Полевые процессы по созданию бизнеса. Бизнес расстановки
					li Поиск работы или дела. Полевое видение поиска дела своей жизни. Как выставлять в системных расстановках поле по запросу предназначения
					li Демо-сессия (разбор истории по запросу) в прямом эфире
				+button('button-facultative',cost_9, 'Купить в записи', '_blank')