.facultative.facultative-2
	.container
		+gt('','Факультатив по расстановкам «Развод и его влияние на детей»')
		.row
			.col-md-4.col-md-push-8
				.facultative-img.facultative-img-2
				p.facultative-cost Стоимость: 
					span 900р.
			.col-md-8.col-md-pull-4
				p.facultative-text Дата проведения вебинара - 
					span 22 октября 2019 г.
				h5.facultative-subtitle Вебинар о разводе пары и влиянии развода на детей
				h6.facultative-list-title Получите ответы на следующие вопросы:
				ul.general-list.facultative-list.facultative-list-2
					li Как создается поле родительской пары
					li Почему пара переживает конфликты
					li Как в эти конфликты вписан ребёнок
					li Как ребенок в своем поле уравновешивает конфликты родителей
					li Как меняется поле ребёнка, когда родительская пара расстается
					li Развод и детские заболевания
					li Как дети через себя отражают конфликты и расставание родителей
					li Стоит ли сохранять отношения ради ребёнка
					li Чем чревато для ребёнка насильное сохранение пары
					li Какие динамики в поле ребёнка происходят при непринятии родителями друг друга
					li Динамики для мальчиков
					li Динамики для девочек
					li Откат динамик при выходе ребенка из конфликта родителей
					li Риски и последствия
					li Если родители уже умерли
					li Особенности "активации" динамик взрослых «детей» и работы с ними
				+button('button-facultative',cost_2, 'Купить в записи', '_blank')