.facultative.facultative-4
	.container
		+gt('','Факультатив по расстановкам «Подростки»')
		.row
			.col-md-4.col-md-push-8
				.facultative-img.facultative-img-4
				p.facultative-cost Стоимость: 
					span 900р.
			.col-md-8.col-md-pull-4
				p.facultative-text Дата проведения вебинара - 
					span 3 ноября 2019 г.
				h5.facultative-subtitle Вебинар для всех родителей, независимо от возраста детей
				h6.facultative-list-title Получите ответы на следующие вопросы:
				ul.general-list.facultative-list.facultative-list-2
					li Сложности пубертатного периода
					li Как мы в себе до сих пор носим травмы несепарированного периода с родителями
					li Какие полевые процессы от рождения до подросткового возраста проходит человек и какими кризисами этот период сопровождается
					li Сепарация
					li Почему сепарация бывает жесткой и болезненной
					li В каких случаях болезни и несносное поведение подростков является отражением родовой программы родителей
					li Как правильно проходить сепарацию с родителями
					li Какие родовые программы активирует в себе подросток в пубертатный период
					li Как родители «убивают» своих детей, навешивая на них непрожитый собственный опыт и исключённый опыт рода
					li Как девочка становится женщиной, а мальчик становится мужчиной
					li Полевые процессы сексуальной и гендерной идентичности
					li Саморазрушающее поведение подростков: никотин, алкоголь, суицид, булимия, анорексия , телесные травмы, игромания, низкий жизненный тонус, отсутствие мотивации/стремления к развитию и др. деструктивные программы
				+button('button-facultative',cost_4, 'Купить в записи', '_blank')