.facultative.facultative-7
	.container
		+gt('','Факультатив по расстановкам «Созависимость - семейная болезнь»')
		.row
			.col-md-4
				.facultative-img.facultative-img-3
				p.facultative-cost Стоимость: 
					span 900р.
			.col-md-8
				p.facultative-text Дата проведения вебинара - 
					span 26 января 2020 г.
				h5.facultative-subtitle 
				h6.facultative-list-title На занятии разберем следующие темы:
				ul.general-list.facultative-list
					li Виктимизация - жертвы, тираны, спасатели. Как рождается роль
					li Жертвы порождают тиранов. Тирания, как восстановление силы после жертвенности
					li Близость, как потеря себя
					li Любовь или зависимость? Как мы путаем любовь с зависимостью
					li Токсичные отношения. Почему женщины терпят недостойное обращение в семье
					li Алкоголизм в семье. Как помочь «больному»
					li Как детские чувства проявляются в супружестве
					li Отправная точка зависимостей. Где и когда рождается бессознательное желание созависеть
					li Дети больных зависимостью. Наследственная зависимость. Как уберечь своего ребёнка
				+button('button-facultative',cost_11, 'Купить в записи', '_blank')