.facultative.facultative-8
	.container
		+gt('','Факультатив «Чтение расстановочного поля»')
		.row
			.col-md-4.col-md-push-8
				.facultative-img.facultative-img-1
				p.facultative-cost Стоимость: 
					span 900р.
			.col-md-8.col-md-pull-4
				p.facultative-text Дата проведения вебинара - 
					span 10 марта 2020г.
				h5.facultative-subtitle
				h6.facultative-list-title Получите ответы на следующие вопросы:
				ul.general-list.facultative-list.facultative-list-2
					li Как правильно выявлять запрос клиента перед системной расстановкой
					li Как правильный запрос упрощает ход расстановки и как некорректный запрос заводит в тупик
					li Как правильно читать поле
					li В каком случае необходимо атрибутировать ситуацию (выявлять конкретную ситуацию в поле), а в каком случае достаточно поле «прочитать» и «разрядить»
					li Как правильно расставлять людей (фигуры)
					li Как правильно следовать динамике поля
					li Насилие поля - что категорически нельзя делать в системных расстановках
					li Опасные расстановки. Что может навредить клиенту
					li Как правильно закрывать расстановочное поле
					li Пошаговая технология с начала расстановки до ее экологичного завершения
					li Как и в чем личные травмы расстановщика влияют на ход расстановки
					li Чем опасен резонанс ситуации расстановщика с ситуацией клиента.  Как расстановщику закрыть свою открывшуюся травму во время системной расстановки
					li Что делать, когда не знаешь, как дальше вести расстановку
					li Что делать, когда все фигуры статичны и  никуда не двигаются
					li Что делать, если расстановщик не понимает, о чем говорит поле
					li Как правильно вводить новые фигуры
					li Как понять, какие фигуры вводить
					li Что делать, если после расстановки состояние клиента ухудшилось
					li Демонстрационная сессия с участником факультатива по запросу
				+button('button-facultative',cost_13, 'Выбрать', '_blank')