.facultative.facultative-8
	.container
		+gt('','Факультатив по метафизике «Травма Души и Духа»')
		.row
			.col-md-4.col-md-push-8
				.facultative-img.facultative-img-1
				p.facultative-cost Стоимость: 
					span 900р.
			.col-md-8.col-md-pull-4
				p.facultative-text Дата проведения вебинара - 
					span 28 января 2020г.
				h5.facultative-subtitle
				h6.facultative-list-title На занятии разберем следующие темы:
				ul.general-list.facultative-list.facultative-list-2
					li Что значит травмированная Душа
					li Теория разбитой Души
					li Техника «Исцеления травмы Души»
					li Миссия Души
					li Провал жизненной миссии, как следствие травмированного Духа
					li Упражнение на согласованность Души и Тела
					li Исцеление травмы в момент Вхождения Души
				+button('button-facultative',cost_12, 'Купить в записи', '_blank')