section#author
	.container
		+gt('','Об авторе')
		.row
			.col-md-4
				#janna
				.certs
					.row
						each n in [1,2]
							.col-md-6.col-sm-6.col-xs-6
								a.cert-link(href="img/certs/cert_"+n+".jpg" data-fancybox='certs')
									img(src="img/certs/cert_"+n+"_min.jpg", alt="Сертификат " + n)
			.col-md-8
				h4.auhtor-title Жанна Абрамова
				ul.general-list.author-list
					li Мастер практической психологии, факультет клинической психологии Академии при президенте РФ (РАНХиГС)
					li Специалист по метафорическим картам (МАК, Израиль)
					li Системный расстановщик (Германия)
					li Процессор Техники РПТ (Саймон Роуз), Тетахилинга
					li Гипнотерапевт (Московский институт гипноза)
					li Коуч, женский тренер, автор трансформационных программ: МАК «Ключ к неизведанному», «Восстановление справедливости», «Отправная точка заболеваний», «За гранью разума», «Сам себе доктор», «Метафизика — Ключ к исцелению Души и тела», «Управление реальностью», «Мышление будущего», трансформационный женский тренинг «Анатомия Отношений», «От перца к сердцу», «Как получать подарки», «Замуж за 2 недели», «Деньги в голове», «Дуэль с ленью», «Возврат ваших вложений», «Третий лишний или как устранить соперницу»