.modal.fade(tabindex="-1" role="dialog")#fac-1
	.modal-dialog(role="document")
		.modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h4.facultative-title.modal-body-title Факультатив по расстановкам 
						span "Любовный треугольник"
					p.facultative-text Дата проведения вебинара - 
						span 15 октября 2019 г.
					h5.facultative-subtitle Вебинар о том, как в поле пары появляются любовники/любовницы
					h6.facultative-list-title Получите ответы на следующие вопросы:
					ul.general-list
						li Какие процессы стоят за расщеплением пары?
						li Почему рождаются дети на стороне?
						li В какие случаях возникновение третьего партнера необходимо для спасения пары?
						li В каких случаях развод неизбежен, а в каких необходимо брак спасать?
						li Чем любовница «полезна» жене?
						li Как жена помогает любовнице следовать своей программе «одиночество»?
						li Как и чем расплачиваются дети, когда родители находятся в любовном треугольнике?
						li Чем чреват развод для родовой системы
						li Как правильно расходиться, чтобы в дальнейшем можно было благополучно строить новые отношения?
					p.facultative-cost Стоимость: 
						span 900р.
					+button('button-facultative',cost_1, 'Выбрать', '_blank')
.modal.fade(tabindex="-1" role="dialog")#fac-2
	.modal-dialog(role="document")
		.modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h4.facultative-title.modal-body-title Факультатив по расстановкам 
						span "Развод и его влияние на детей"
					p.facultative-text Дата проведения вебинара - 
						span 22 октября 2019 г.
					h5.facultative-subtitle Вебинар о разводе пары и влиянии развода на детей
					h6.facultative-list-title Получите ответы на следующие вопросы:
					ul.general-list.facultative-list
						li Как создается поле родительской пары
						li Почему пара переживает конфликты
						li Как в эти конфликты вписан ребёнок
						li Как ребенок в своем поле уравновешивает конфликты родителей
						li Как меняется поле ребёнка, когда родительская пара расстается
						li Развод и детские заболевания
						li Как дети через себя отражают конфликты и расставание родителей
						li Стоит ли сохранять отношения ради ребёнка
						li Чем чревато для ребёнка насильное сохранение пары
						li Какие динамики в поле ребёнка происходят при непринятии родителями друг друга
						li Динамики для мальчиков
						li Динамики для девочек
						li Откат динамик при выходе ребенка из конфликта родителей
						li Риски и последствия
						li Если родители уже умерли
						li Особенности "активации" динамик взрослых «детей» и работы с ними
					p.facultative-cost Стоимость: 
						span 900р.
					+button('button-facultative',cost_2, 'Выбрать', '_blank')
.modal.fade(tabindex="-1" role="dialog")#fac-3
	.modal-dialog(role="document")
		.modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h4.facultative-title.modal-body-title Факультатив по расстановкам 
						span "Создание пары"
					p.facultative-text Дата проведения вебинара - 
						span 29 октября 2019 г.
					h6.facultative-list-title Получите ответы на следующие вопросы:
					ul.general-list
						li Создание пары, как этап семейного системного развития: вышла замуж, потому что «надо»
						li Женился, потому что мама/девушка настояла
						li Семья «по залету». Семья по принуждению
						li Семья по родовому сценарию
						li Семья по судьбе
						li Каким динамикам следует пара в каждом случае
						li Системные законы в парности и одиночестве
						li Почему кто-то проходит путь одиночества, а кто-то цепляется за отношения
						li Страх одиночества
						li Созависимость в паре
						li Любовь. Что такое на самом деле любовь?
						li Почему любовь проходит?
						li Как в поле выглядит истинная любовь и как ее отличить от «союза травм» (сошлись родовыми травмами)
						li Как понять, что партнёр по судьбе, а не для отработки родовых травм
						li Какие отношения изначально обречены на конфликты и расставание (принцип парного невроза)
					p.facultative-cost Стоимость: 
						span 900р.
					+button('button-facultative',cost_3, 'Выбрать', '_blank')
.modal.fade(tabindex="-1" role="dialog")#fac-4
	.modal-dialog(role="document")
		.modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h4.facultative-title.modal-body-title Факультатив по расстановкам 
						span "Подростки"
					p.facultative-text Дата проведения вебинара - 
						span 3 ноября 2019 г.
					h5.facultative-subtitle Вебинар для всех родителей, независимо от возраста детей
					h6.facultative-list-title Получите ответы на следующие вопросы:
					ul.general-list
						li Сложности пубертатного периода
						li Как мы в себе до сих пор носим травмы несепарированного периода с родителями
						li Какие полевые процессы от рождения до подросткового возраста проходит человек и какими кризисами этот период сопровождается
						li Сепарация
						li Почему сепарация бывает жесткой и болезненной
						li В каких случаях болезни и несносное поведение подростков является отражением родовой программы родителей
						li Как правильно проходить сепарацию с родителями
						li Какие родовые программы активирует в себе подросток в пубертатный период
						li Как родители «убивают» своих детей, навешивая на них непрожитый собственный опыт и исключённый опыт рода
						li Как девочка становится женщиной, а мальчик становится мужчиной
						li Полевые процессы сексуальной и гендерной идентичности
						li Саморазрушающее поведение подростков: никотин, алкоголь, суицид, булимия, анорексия , телесные травмы, игромания, низкий жизненный тонус, отсутствие мотивации/стремления к развитию и др. деструктивные программы
					p.facultative-cost Стоимость: 
						span 900р.
					+button('button-facultative',cost_4, 'Выбрать', '_blank')
.modal.fade(tabindex="-1" role="dialog")#fac-5
	.modal-dialog(role="document")
		.modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h4.facultative-title.modal-body-title Факультатив по расстановкам 
						span "Роль отца в жизни ребенка"
					p.facultative-text Дата проведения вебинара - 
						span 18 ноября 2019 г.
					h5.facultative-subtitle Вебинар для всех родителей, независимо от возраста детей
					h6.facultative-list-title Получите ответы на следующие вопросы:
					ul.general-list
						li Отец и дочь. 
						li Отец и сын.
						li Роль отца в сексуальном и социальном  развитии ребёнка. 
						li Отсутствие отца. Динамика при отсутствии отца в семье.
						li «Потерянный отец». Через кого и как происходит восстановление места потерянного отца.
						li Плохой отец. Травма, нанесённая отцом.
						li Физическое и эмоциональное насилие от отца. Динамика насилия. 
						li Кто отвечает за отсутствие отца в семье. Как отсутствие места отца выглядит в поле системных расстановок. 
						li Отчим. Системный порядок «отцов». 
						li Как «вернуть» отца в поле ребёнка
						li Отец и деньги. Как отсутствие отца влияет на финансовую сторону выросшего ребёнка
					p.facultative-cost Стоимость: 
						span 900р.
					+button('button-facultative',cost_5, 'Выбрать', '_blank')