header
	padding 25px 0
	overflow hidden
#logo
	width 213px
	height 17px
	display: block
	float left
	background-image url(../img/logo.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
.contacts
	text-align: right
	float: right
	line-height: 17px
.contact
	font-family: 'Arial', sans-serif
	font-size: 16px
	color #000
	margin-left: 12px
	padding-left: 24px
	background-repeat no-repeat
	background-position: left center
	&-tel
		background-image url(../img/icons/phone.png)
	&-skype
		background-image url(../img/icons/skype.png)
	&-email
		background-image url(../img/icons/envelope.png)
		padding-left: 28px
	&:focus
		text-decoration: none
		color #000
	&:hover
		color #000
		text-decoration: underline