#main
	padding 90px 0 70px
	position relative
	background-color: #ACA69A
	background-image url(../img/backgrounds/main-bg.png)
	background-repeat no-repeat
	background-position: center
	background-size: cover
#psy
	display block
	width 100%
	max-width 738px
	height 46px
	margin 16px auto
	background-image url(../img/icons/main-img.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
	position relative
	&:before
	&:after
		content: ''
		display block
		position: absolute
		bottom: 22px
		background-color: #3A210D
		height 2px
		left 0
		width calc(50% - 45px)
	&:after
		left auto
		right 0
.main-title-container
	padding 100px 0 60px
	border-top: 2px dotted #5a3c53
	border-bottom: 2px dotted #5a3c53
	text-align: center
	background-color: rgba(#ffffff,.7)
	margin-bottom: 60px
.main-title
	font-size: 36px;
	font-family: RO
	color: rgb(138, 54, 52);
.main-subtitle
	font-size: 30px;
	font-family: PH
	color: rgb(55, 38, 22);