.facultative
	padding 30px 0 55px
	&:nth-child(2n)
		border 4px dotted rgb(138, 54, 52);
		background-color: rgb(232, 232, 232);
	&:nth-child(2n+1)
		background-color: rgb(243, 240, 234);
	&-text
		font-size: 24px
		font-family: PH
		span
			background-color: #FFC55A
			display: inline-block
			padding 0 5px
	&-subtitle
		font-size: 20px
		margin 20px 0
	&-list-title
	&-cost
		font-family: RO
		color #8a3634
		margin-bottom: 15px
		font-size: 20px
	&-cost
		text-align: center
		span
			display: block
			width 154px
			height 38px
			line-height: 36px
			text-align: center
			font-size: 27px
			color #010101
			font-family: RO
			background-color: #f8f8f8
			border: 1px solid #8a3634
			margin 15px auto 0
	&-img
		width 268px
		height 268px
		margin 0 auto 20px
		display block
		background-repeat no-repeat
		background-position: center
		background-size contain
		&-1
			background-image url(../img/images/fac-1-img.png)
		&-2
			background-image url(../img/images/fac-2-img.png)
		&-3
			background-image url(../img/images/fac-3-img.png)
		&-4
			background-image url(../img/images/fac-4-img.png)
		&-5
			background-image url(../img/images/fac-2-img.png)