.author-container
  border 4px dotted rgb(138, 54, 52);
  border-style: dotted;
  background-color: rgb(232, 232, 232);
#author
	padding 45px 0
#janna
	display block
	width 266px
	height 266px
	background-image url(../img/images/janna.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
	margin 0 auto 40px
.auhtor-title
	margin-bottom: 15px
	font-size: 24px
	font-family: RO
.cert-link
	display block
	margin 10px auto 0
	img
		object-fit: cover
		object-position: center
		border: 2px solid #8a3634
		height 90px
		width 100%
