#revs
	padding 45px 0 90px
.carousel
	width 100%
	max-width 860px
	margin 0 auto 40px
.carousel-inner
	width 100%
	max-width 650px
	margin 0 auto
	.item
		padding 10px
		img
		iframe
			background-color #fff
			border 2px solid #5a3c53
.fancybox-image, .fancybox-spaceball
	border 2px solid #5a3c53
.carousel-indicators
	position: static
	margin 0 auto
	li
		background-color #fff
		border 2px solid rgb(90, 60, 83);
		width: 14px;
		height: 14px;
		border-radius: 0
		margin 0 7px
		transition: all .4s ease
	.active
		border-color: #f6c462
		width 14px
		height 14px
		margin 0 7px
.carousel-control
	opacity 1
	width 68px
	height 68px
	top calc(50% - 48px)
	background-color: #FFC55A
	border-radius: 0
	border: 2px solid #633953
	font-size: 60px
	font-family: RO
	text-shadow: none
	padding 1px 0
	color: #8a3634
	line-height: 1
	transition: all .4s ease
	&.left
	&.right
		background-image: none
		&:focus
			color #633953
			background-color: #FFC55A
			text-decoration: none
		&:hover
			color #FFC55A
			background-color: #633953
			border-color: #FFC55A