footer
	position relative
	padding: 20px 0
	text-align: center
footer
	h5
		font-size: 20px;
		font-family: RO
		color: #8a3634
	p
	.conditions
		font-size: 20px;
		font-family: PH
		color: #000
		line-height: 1.786;
	.conditions
		text-decoration underline
		color #8a3634
		&:hover
		&:focus
			text-decoration none
.soc-buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 15px 8px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-color #FFC55A
			color #1C2430
			line-height 30px
			&:hover
				opacity .8