.modal-backdrop.in
	opacity .65
.modal-dialog
	width 800px
.modal-content
	border-radius: 5px
	background-color: #F9F9F9
	.general-list
		margin-bottom: 20px
button.close
	position absolute
	width: 35px
	height 35px
	border-radius: 50px
	line-height: 30px
	text-align: center
	font-size: 24px
	color: #000
	background-color: #F0F0F0
	top 10px
	right 10px
	left auto
	z-index 99
	opacity 1
	transition: all .1s ease-in-out
	&:hover
		color: #F0F0F0
		background-color: #000
.modal-body-title
	font-size: 22px
	font-family: RO
	color #633953
	margin-bottom: 20px
	width 100%
	max-width 86%