.general-title
.main-title
.facultative-title span
.facultative-cost span
	font-weight: 900
.button
.facultatives-table-title span
.facultatives-table-cost span
.facultative-text span
.facultative-subtitle
.auhtor-title
footer h5
	font-weight: bold