.general-title
.main-title
.facultatives-table-title
.facultative-table-cost span
.facultative-cost span
.facultative-list-title
.facultative-cost
.auhtor-title
.modal-body-title
.facultatives-table-cost span
footer h5
	font-weight: 900